body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(26,36,42);

}
.container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:50px     ;
    justify-content: center;
    color: beige;
}
.proff{
 display: flex;
 flex-direction: column;   
 
 
}
.skill{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
    column-gap: 10px;
    
}
.bar{
    border: solid;
    width: 500px;
    height: 10px  ;
    display: flex;
    flex-direction: row;
    background-color: rgb(9, 14, 14);
    border-radius: 25px;
position: relative;
    
}
.bar span{
    width: 80%;
    height: 100%;
    position:absolute;
    left:0;
    background-color: aqua;
    border-radius: 25px;
}




.tech{
    display: flex;
    flex-direction: column        ;
    
    
}
.tskill{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
    column-gap: 10px;
    
 

}
.tbar{
    border: solid;
    width: 500px;
    height: 10px  ;
    display: flex;
    flex-direction: row;
    background-color: rgb(9, 14, 14);
    border-radius: 25px;
position: relative;

    
}
.python{
    width: 80%;
    height: 100%;
    position:absolute;
    left:0;
    background-color: aqua;
    border-radius: 25px;
}
.java{
    width: 70%;
    height: 100%;
    position:absolute;
    left:0;
    background-color: aqua;
    border-radius: 25px;
}
.html{
    width: 75%;
    height: 100%;
    position:absolute;
    left:0;
    background-color: aqua;
    border-radius: 25px;
}
.css{
    width: 60%;
    height: 100%;
    position:absolute;
    left:0;
    background-color: aqua;
    border-radius: 25px;
}
.ms{
    width: 80%;
    height: 100%;
    position:absolute;
    left:0;
    background-color: aqua;
    border-radius: 25px;
}

.contain{
    width: 500px;
    height: 300px;
    background-color: aqua;
    position: relative;

}
.left{
height: 300px;
width: 400px;
background: white;
position: relative;

}
.right{
    height: 300px;
    width: 400px;
    position: relative;
    background-color: blue;
    tra
    
}



<div class="flip-container">
    <div class="flipper">
      <div class="front">
        <center><h3 style="font-size: 50px;color:  rgb(255, 255, 255);"><span>A</span>cheivements</h3></center>
        
        <div class="acheives">
            <img src="pic/int1.jpg" alt="">
            <img src="pic/int2.jpg" alt="">
            <img src="pic/int3.jpg" alt="">
            <img src="pic/int4.jpg" alt="">
            <img src="pic/int8.jpg" alt="">
            <img src="pic/int9.jpg" alt="">
            
        </div>
        <div class="horicert">
            <img src="pic/int7.jpg" alt="">
            <img src="pic/int13.jpg" alt=""></div>
          

       <center> <button  id="flippy" class="flip-button">Show Marksheet</button></center>
      </div>
      <div class="back">
        <center><h3 style="font-size: 50px;color: aliceblue;"><span> M</span>arksheet</h3></center>

        <div class="marksheet">
            
            <img src="pic/int6.jpg" alt="">
            <img src="pic/int10.jpg" alt="">
            <img src="pic/int11.jpg" alt="">
            <img src="pic/int5.jpg" alt="">
            <img src="pic/int12.jpg" alt="">
            <img src="pic/int15.jpg" alt="">
            <img src="pic/int14.jpg" alt="">

        </div>
      

    <center>  <button  id="upper" class="flip-button">Show Acheivements</button></center>
      </div>
    </div>
  </div>